.bodyHome {
  background-image: url("../img/backgroundHome.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.imgBody {
  position: fixed; /* fixe plutôt qu'absolu si tu veux qu’elle colle à l’écran */
  right: 0;
  top: 0;
  width: 60vw;
  height: 100vh;
  z-index: 1;
  background-image: url("../img/imageHome.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.buttonLogin {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  width: 250px;

  color: white;
  background-color: rgba(128, 217, 248, 0.3);
  border: 2px solid #3fe2ff;
  border-radius: 50px;

  cursor: pointer;
  transition: all 0.3s ease;

  margin-left: 43%;
  margin-top: 5%;
  margin-bottom: 500px;
}

.buttonLogin:hover {
  background-color: rgba(128, 217, 248, 0.3);
  box-shadow: 0 0 12px #3fe2ff;
  transform: scale(1.15);
}

.TitreHome {
  display: flex;
  margin-left: 24%;
  margin-top: 14%;
  font-family: "Krona One", sans-serif;
  font-size: 45px;
}

.titreBtnLogin {
  position: relative;
  z-index: 4;
}
