.bodyInscription {
  background-image: url("../img/backgroundHome.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.inscriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
  margin-left: 14rem;
  height: 70vh;
  margin-bottom: 115px;
  margin-top: 3.5rem;
  border-radius: 7%;
  border: 2px, solid, #3fe2ff;
  background-color: rgba(0, 0, 0, 0.7);
  gap: 35px;
}

.articleI {
  display: flex;
  gap: 15px;
  font-family: "Krona One", sans-serif;
  margin-left: 40px;
  align-items: center;
}

.titreInscription {
  margin-top: 30px;
  margin-left: 40px;
  font-family: "Krona One", sans-serif;
  margin-bottom: 40px;
}

.inputInscription {
  width: 400px;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgba(1, 28, 38, 0.3);
  border: 2px solid #3fe2ff;
  border-radius: 50px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titreI {
  font-size: 25px;
}

.comfirmBtn {
  width: 230px;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgba(63, 226, 255, 0.6);
  border: 2px solid #3fe2ff;
  border-radius: 50px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Krona One", sans-serif;
}

.comfirmBtn:hover {
  transform: scale(1.05);
}

.pageI {
  display: flex;
  align-items: center;
  gap: 70px;
}
