* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bodyLogin {
  background-image: url("../img/backgroundLogin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem;
}

.loginContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.caseLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 90%;
  height: auto;
  padding: 2rem 1.5rem;
  border-radius: 20px;
  border: 2px solid #3fe2ff;
  background-color: rgba(0, 0, 0, 0.7);
  gap: 2.5rem;
  flex: 1 1 500px;
}

.userLogin {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.userBtn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.inputField {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgba(5, 93, 125, 0.3);
  border: 2px solid #3fe2ff;
  border-radius: 50px;
  height: 40px;
}

.inputField::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.1rem;
}

.loginBtn {
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 250px;
  color: white;
  background-color: rgba(128, 217, 248, 0.3);
  border: 2px solid #3fe2ff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#logBtn,
#createBtn {
  width: 100%;
}

#logBtn:hover,
#createBtn:hover {
  transform: scale(1.05);
}

.passewordBtn {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgba(5, 93, 125, 0.3);
  border: 2px solid #3fe2ff;
  border-radius: 50px;
  height: 75px;
  display: flex;
  align-items: center;
}

.remember-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  justify-content: flex-start;
  width: 100%;
  max-width: 400px;
}

.remember {
  font-family: "Krona One", sans-serif;
  color: rgba(124, 124, 124, 0.903);
  font-size: 0.8rem;
}

.remember-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #50b7f5;
}

.imgBodyLogin {
  flex: 1 1 350px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  box-sizing: border-box;
}

.imgBodyLogin img {
  width: 280px;
  height: auto;
  max-width: 100%;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.imgBodyLogin img:hover {
  animation: jump 0.5s ease;
  animation-fill-mode: forwards;
}

@media (max-width: 760px) {
  .loginContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgBodyLogin {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .imgBodyLogin {
    margin-top: 2rem;
  }

  .imgBodyLogin img {
    width: 280px;
  }

  .caseLogin,
  .inputField,
  .passewordBtn,
  .loginBtn {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }

  .remember {
    font-size: 0.75rem;
  }
  .caseLogin {
    max-width: 600px;
  }
}
