.bodyLogin {
  background-image: url("../img/backgroundLogin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.imgBodyLogin {
  background-image: url("../img/imgLogin.svg");
  background-size: 140%;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 60vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.caseLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 14rem;
  height: 70vh;
  margin-bottom: 115px;
  margin-top: 3.5rem;
  border-radius: 7%;
  border: 2px, solid, #3fe2ff;
  background-color: rgba(0, 0, 0, 0.7);
  gap: 100px;
  position: relative;
  z-index: 10;
}

.userLogin {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  margin-bottom: 50px;
}

.userBtn {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputField {
  width: 400px;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgba(5, 93, 125, 0.3);
  border: 2px solid #3fe2ff;
  border-radius: 50px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inputField::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 25px;
  margin-right: 15px;
}

.loginBtn {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  width: 250px;

  color: white;
  background-color: rgba(128, 217, 248, 0.3);
  border: 2px solid #3fe2ff;
  border-radius: 50px;

  cursor: pointer;
  transition: all 0.3s ease;
}

#createBtn {
  width: 350px;
}

#logBtn {
  width: 200px;
}

#createBtn:hover {
  transform: scale(1.05);
}

#logBtn:hover {
  transform: scale(1.05);
}

.passewordBtn {
  width: 400px;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgba(5, 93, 125, 0.3);
  border: 2px solid #3fe2ff;
  border-radius: 50px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.remember {
  margin-right: 140px;
  font-family: "Krona One", sans-serif;
  color: rgba(124, 124, 124, 0.903);
}

.remember-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
}

.remember-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #50b7f5; /* couleur personnalisée (bleu clair) */
}
