nav {
  position: absolute;
  z-index: 10;
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

ul {
  display: flex;
  gap: 40px;
}

.logo {
  height: 40px;
  width: auto;
}

.logo:hover {
  transform: scale(1.2);
  box-shadow: 0 0 12px #3fe2ff;
  border-radius: 50%;
}

.logoNav {
  gap: 30px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 20px;
}

.logoSite {
  height: 100px;
  width: auto;
}

.logoSite:hover {
  transform: scale(1.15);
}

.TitreNav {
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

.TitreNav:hover {
  transform: scale(1.05);
}

.WATCH {
  color: #3fe2ff;
}

.arrow {
  width: 15px;
  height: auto;
}

.NameBurger {
  font-size: 25px;
}

.MenuNav {
  gap: 40px;
  display: flex;
  margin-left: 15%;
}

.Contact {
  text-decoration: none;
  font-size: 25px;
}

.IntroSite {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-list {
  position: absolute;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.dropdown-list {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
  text-decoration: none;
}

@media (max-width: 1120px) {
  nav {
    justify-content: center; /* centre horizontalement tout le nav */
    flex-wrap: wrap; /* permet au contenu de passer à la ligne */
    gap: 20px;
  }

  .IntroSite {
    margin-left: 0; /* enlève la marge gauche */
    flex: 1 1 100%; /* occupe toute la largeur en ligne séparée */
    justify-content: center;
  }

  .MenuNav {
    margin-left: 0; /* enlève la marge gauche */
    gap: 20px;
    flex-wrap: wrap; /* permet aux items de revenir à la ligne */
    justify-content: center;
    flex: 1 1 auto;
  }

  .logoNav {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    flex: 1 1 100%; /* passe en ligne séparée, centré */
    gap: 15px;
  }

  ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Contact {
    font-size: 20px; /* ajuste taille pour être moins envahissant */
  }
}
